<!DOCTYPE html>
{% load i18n %}
{% load static %}


<header class="p-3 text-bg-dark header js-header">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between" style="font-weight: bold;">
        {% with request.resolver_match.view_name as view_name %}
        <div class="nav-link-block"> 
          
          <a class="navbar-brand" href="{% url 'homepage:home' %}">
            <img src="{% static 'img/cloudpets-header-logo1.png' %}" alt="Logo" width="70" height="70">
          </a>
          

              {% if view_name == 'homepage:home' %}
                    <span class="nav-link px-2 text-white underline disabled nav-box">{% trans 'Главная' %}</span>
                {% else %}
                    <a class="nav-link px-2 text-white nav-box" href="{% url 'homepage:home' %}">{% trans 'Главная' %}</a>
                {% endif %}
              
              {% if user.is_authenticated %}
                {% if view_name == 'feedback:feedback' %}
                    <span class="nav-link px-2 text-white underline disabled nav-box">{% trans 'Обратная связь' %}</span>
                {% else %}
                    <a class="nav-link px-2 text-white nav-box" href="{% url 'feedback:feedback' %}">{% trans 'Обратная связь' %}</a>
                {% endif %}

                {% if view_name == 'users:profile' %}
                  <span class="nav-link px-2 text-white underline disabled nav-box">{% trans 'Личный кабинет' %}</span>
                {% else %}
                    <a class="nav-link px-2 text-white nav-box" href="{% url 'users:profile' %}">{% trans 'Личный кабинет' %}</a>
                {% endif %}

                {% endif %}
          </div>

          <div class="nav-link-block">
            {% if user.is_authenticated %}
              {% if view_name == 'animals:add-animal' %}
                  <button class="btn btn-outline-secondary disabled" type="button">{% trans 'Создать пост' %}</button>
              {% else %}
                  <a class="btn btn-outline-primary" href="{% url 'animals:add-animal' %}">{% trans 'Создать пост' %}</a>
              {% endif %}
          
                <form action="{% url 'users:logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-light">Выйти</button>
                </form>
     
              {% else %}
                <button type="button" class="btn btn-outline-light" onclick="location.href='{% url "users:login" %}';">Войти</button>
                <button type="button" class="btn btn-outline-info" onclick="location.href='{% url "users:signup" %}';">Регистрация</button>
              {% endif %}
          </div>

        {% endwith %}
      </div>
    </div>
  </header>
