[flake8]
application_import_names = homepage, users, virtual_cemetery
inline-quotes = double
exclude = .git, __pycache__, migrations, venv
import-order-style = google
max-line-length = 100
max-complexity = 10
max-expression-complexity = 10
