.header {
    width: 100%;
    top: -100px;
    left: 0;
    z-index: 1000;
    transition: all .2s ease;
  }
.header.fixed{
    position: fixed;
    transform: translateY(100px);
}

.Roboto-font{
    font-family: 'Roboto'
}

.nav-box {
    position: relative;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px; 
    background-color: transparent;
    height: 40px;
    display: flex;
    align-items: center;

  }
  
  .nav-box::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-color: rgba(255, 255, 255, 0.15); 
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .nav-box:hover::before {
    opacity: 0.85;
  }

.underline {
    text-decoration: underline;
}

.nav-link-block{
    display: flex;
    column-gap: 15px;
    align-items: center;
}
  