{% extends "base/base.html" %}
{% load static %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card border-0 shadow-lg">
      <div class="card-body">
        <div class="container-xl mt-4">
          <h1>Авторизация</h1>
          {% if form.non_field_errors %}
          <div class="alert alert-danger">
              {% for error in form.non_field_errors %}
                  {{ error }}
              {% endfor %}
          </div>
          {% endif %}

          {% include "includes/messages.html" %}

          {% if request.session.show_resend_button %}
          <form action="{% url 'users:resend_activation_email' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ form.username.value }}">
            <button type="submit" class="btn btn-primary m-3">Отправить письмо еще раз</button>
          </form>
          {% endif %}

          <form method="post" class="container">
              {% csrf_token %}
              <div class="list-group">
                  {% include "includes/form.html" %}
              </div>
              <button type="submit" class="btn btn-primary mt-3" value="uwu">Войти</button>
          </form>
          <a href="{% url "users:password-reset" %}" class="btn btn-link btn-sm">"Забыли пароль?"</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}