{% extends "base/base.html" %}
{% load static %}

{% block content %}
{% include "includes/messages.html" %}
<div class="container-xl mt-4">
  <h1>Авторизация</h1>
  {% if form.non_field_errors %}
  <div class="alert alert-danger">
      {% for error in form.non_field_errors %}
          {{ error }}
      {% endfor %}
  </div>
  {% endif %}
  <form method="post" class="container">
      {% csrf_token %}
      <div class="list-group">
          {% include "includes/form.html" %}
      </div>
      <button type="submit" class="btn btn-primary mt-3" value="uwu">Войти</button>
  </form>
  <a href="{% url 'users:password-reset' %}" class="btn btn-link btn-sm">"Забыли пароль?"</a>
</div>
{% endblock content %}