{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}cloudpets - Забыли пароль{% endblock title %}

{% block content %}
{% include "includes/messages.html" %}

<div class="container-xl mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card border-0 shadow-lg">
        <div class="card-body">
  <h1>Забыли пароль?</h1>
  <p>Для восстановления пароля, укажите вашу почту, используемую на аккаунте</p>
  <form method="post" class="container">
      {% csrf_token %}
      <div class="list-group">
          {% include "includes/form.html" %}
      </div>
      <button type="submit" class="btn btn-primary mt-3" value="uwu">Продолжить</button>
  </form>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}