<!DOCTYPE html>
{% extends 'base/base.html' %}
{% load static %}

{% block content %}
{% include "includes/messages.html" %}
    <div class="main-content">
        {% for animal in animals %}
            <div class="col">
            
                <a href="{% url 'animals:animal-detail' animal.pk %}" style="text-decoration: none;">
                    <div class="card shadow-sm element-animation" >
                        
                        {% if animal.main_image %}
                            <img src="{{ animal.get_image_200x200.url }}" class="card-img-top img-top" style="width:100%; ">
                        {% endif %}
                        
                        <div class="card-body text-center" >
                            <h5 class="card-title">{{ animal.name }}</h5>
                        </div>
                    </div>
                </a>
                
            </div>
        {% empty %}
        <h1>Похоже ничего нет(</h1>
        {% endfor %}
    </div>
{% endblock %}
