{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}cloudpets - Просмотр поста{% endblock title %}

{% block content %}
{% include "includes/messages.html" %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h2 class="mb-4">Примите участие в наших конкурсах</h2>
      <p class="lead">Желаете оставить незабываемый след о вашем питомце? Проявите свою творческую натуру и участвуйте в наших конкурсах!</p>
      <a href="#" class="btn btn-primary btn-lg mt-4">
        <i class="fas fa-trophy mr-2"></i> Перейти к конкурсам
      </a>
    </div>
  </div>
  <hr class="my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card border-0 shadow-lg">
        {% if animal.main_image %}
        <img src="{{ animal.get_image_500x500.url }}" class="card-img-top" alt="{{ animal.name }}">
        {% endif %}
        {% if animal.user == request.user %}
        <a href="{% url 'animals:change-animal' animal.pk %}" class="btn btn-primary btn-sm mt-3 ml-3 position-absolute">Редактировать</a>
        {% endif %}
        <div class="card-body">
          <p class="card-text"><strong>Автор:</strong> <a href="{% url 'users:profile-user' animal.user.pk %}">{{ animal.user.first_name }}</a></p>
          <h5 class="card-title">{{ animal.name }}</h5>
          {% if animal.biography %}
          <p class="card-text">{{ animal.biography }}</p>
          {% endif %}
          <hr>
          <div class="d-flex justify-content-between">
            {% if animal.date_of_birth %}
            <p class="card-text"><strong>Дата рождения:</strong> {{ animal.date_of_birth }}</p>
            {% endif %}
            {% if animal.date_of_death %}
            <p class="card-text"><strong>Дата смерти:</strong> {{ animal.date_of_death }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <div class="card border-0 shadow-lg">
        <div class="card-body">
          <h2 class="mb-4">Комментарии:</h2>
          {% if not request.user == animal.user %}
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-warning btn-block mt-4">Отправить</button>
          </form>
          {% endif %}
          <ul class="list-unstyled">
            {% for comment in animal.comments.all %}
            <li class="media mb-4">
              <div class="media-body">
                <h5 class="mt-0">{{ comment.user.first_name }}</h5>
                <p>{{ comment.comment }}</p>
              </div>
            </li>
            {% empty %}
            <p>Пока никто не прокомментировал данный пост.</p>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
